/* styles for index.html */

body {
	font-family: sans-serif;
	font-size: 48px;
	line-height: 1;
}
a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	transition: letter-spacing 0.2;
}

/* may1971 */

.may1971 div.background {
	width: 100vw;
	height: 200vh;
	background-color: #5BA25E;
	
}
.may1971 div.mu {
	font-family: "Helvetica Neue";
	font-size: 15vw;
	color: white;
	position: absolute;
	top: 10vh;
	left: 41vw;
}

.may1971 div.si {
	font-family: "Helvetica Neue";
	font-size: 15vw;
	color: white;
	position: absolute;
	top: 30vh;
	left: 45vw;
}

.may1971 div.ca {
	font-family: "Helvetica Neue";
	font-size: 15vw;
	color: white;
	position: absolute;
	top: 48vh;
	left: 43vw;
}
.may1971 div.line {
	width: 40vw;
	height: 5px;
	background-color: white;
	top: 80vh;
	left: 30vw;
	position: absolute;
}
.may1971 div.vi {
	font-family: "Helvetica Neue";
	font-size: 15vw;
	color: white;
	position: absolute;
	bottom: -10vh;
	left: 45vw;
}
.may1971 div.va {
	font-family: "Helvetica Neue";
	font-size: 15vw;
	color: white;
	position: absolute;
	bottom: -27vh;
	left: 43vw;
}
.may1971 .para-left {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 0.01em;
	left: 5vw;
	top: 90vh;
	position: absolute;
}
.may1971.para-right {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.01em;
	left: 75vw;
	top: 0vh;
	position: absolute;
}

/* jan1972 */

.jan1972 {
	width: 100vw;
	height: 100vh;
	background-color: #830739;
}
.jan1972 .col {
	float: left;
	width: 16.66vw;
	height: 25vw;
	text-align: center;
	font-size: 18vw;
	line-height: 25vw;
	background: #830739;
	color:#6DA0A6;
}
.jan1972 .row {
	clear: left;
}
.jan1972 .para-left {
   position: absolute;
   left: 40vw;
   top: 105vw;
   color:#FFFFFF;
   font-size: 10px;
   text-align: right;
}
.jan1972 .para-right {
   position: absolute;
   left: 60vw;
   top: 105vw;
   color:#FFFFFF;
   font-size: 10px;
}

/* nov1959.html */

.nov1959 {
	width: 100vw;
	height: 100vh;
	background-color: #D9DAD5;
}
.nov1959 .top-left {
	font-size: 4vw;
	font-weight: bold;
	padding-top: 4vh;
	padding-left: 1vh;
}
.nov1959 .top-grey {
	height: 5vh;
	width: 5vw;
	color: gray;
}












