/* styles for index.html */

body {
	font-family: sans-serif;
	font-size: 48px;
	line-height: 1;
}
a {
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	transition: letter-spacing 0.2;
}

/* colombia */

.colombia div {
	width: 100vw;
	height: 100px;
}
.colombia div.first {
	background-color: #FCD116;
	height: 50vh;
}
.colombia div.second {
	background-color: #003893;
	height: 25vh;
}
.colombia div.third {
	background-color: #CE1126;
	height: 25vh;
}

/* palau */

.palau div {
	width: 100vw;
	height: 100px;
	background-color: #0085CA;
}
.palau div.first {
	background-color: #0085CA;
	height: 100vh;
}
.palau div.second {
	height: 400px;
	width: 400px;
	border-radius: 50%;
	background-color: yellow;
	position: fixed;
	top: 25vh;
	left: 25vw;
}

/* madagascar */

.madagascar div {
	width: 100vw;
	height: 100px;
}
.madagascar div.first {
	background-color: white;
	width: 40vh;
	height: 100vh;
	position: absolute;
}
.madagascar div.second {
	background-color: #F9423A;
	width: 100vw;
	height: 50vh;
}
.madagascar div.third {
	background-color: #00843D;
	width: 100vw;
	height: 50vh;
}

/* belgium */

.belgium div {
	width: 100vw;
	height: 100px;
}
.belgium div.first {
	background-color: black;
	width: 33.3vw;
	height: 100vh;
	position: absolute;
}
.belgium div.second {
	background-color: yellow;
	width: 33.3vw;
	height: 100vh;
	left: 33.3vw;
	position: absolute;
}
.belgium div.third {
	background-color: red;
	width: 33.3vw;
	height: 100vh;
	left: 66.6vw;
	position: absolute;
}

/* sweden */

.sweden div {
	width: 100vw;
	height: 100px;
}
.sweden div.first {
	background-color: #006AA7;
	width: 100vw;
	height: 100vh;
	position: absolute;
}
.sweden div.second {
	background-color: #FFCD00;
	height: 15vh;
	position: absolute;
	top: 300px;
}
.sweden div.third {
	background-color: #FFCD00;
	width: 15vw;
	height: 100vh;
	position: absolute;
	left: 400px;
}

/* tonga */

.tonga div {
	width: 100vw;
	height: 100px;
}
.tonga div.first {
	background-color: red;
	width: 100vw;
	height: 100vh;
	position: absolute;
}
.tonga div.second {
	background-color: white;
	width: 40vw;
	height: 30vh;
	position: absolute;
}
.tonga div.third {
	background-color: red;
	width: 5vw;
	height: 20vh;
	position: fixed;
	top: 40px;
	left: 200px;
}
.tonga div.fourth {
	background-color: red;
	width: 20vw;
	height: 5vh;
	position: absolute;
	top: 120px;
	left: 120px;
}




